*{
    margin: 0px;
    padding: 0px;
}

body {
  background-color: #f0ece3 ;
  font-family: 'PT Sans Narrow', sans-serif;
}

/* header section Starts_here */
#Header {
  background-image: url("../Images/vbg.jpg");
  background-repeat: no-repeat;
  min-height: 65vh;
  background-size: 100% 60vh;
}
/* LogO */
#Header .navbar-brand{
  font-size: 2.5rem;
  width: auto;
  color: #f4f6ff;
  font-family: 'Rowdies', cursive;
}
#Header .navbar-brand-style{
  font-size: 2.8rem;
  color: #21bf73;
}
/* LogO end*/

/* navbar content */
#Header .nav-link {
  color: #f4f6ff;
  font-size: 1.3rem;
  font-weight: bold;
}

@media (max-width:575px){
  #Header .nav-link{ 
    margin-top: -5px;
    padding: 1px ;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  }
}
@media (max-height: 600px){
  #Header .navbar-brand , #Header .navbar-brand-style {
    font-size: 2.2rem;
    padding-top: 0px;

  }
  #Header .navbar-nav{
    margin-top: -15px;
    padding-bottom: 0px;
    line-height: 1.8rem;
    /* font-size: 3vh; */
  }
}

#Header .nav-item a:hover {
  color: #21bf73;
  text-decoration: underline;
  transform: scale(1.2);
  text-decoration-color: #fd5e53;
}
#Header .toggbtn{
  background-color: #382c2d;
    border: 2px solid #21bf73;
    border-radius: 8.25rem;
}
/* header section ends here */

/* About Card start */
.mt-n10 {
  margin-top: -200px !important;
}

#about .card-title{
  font-style: italic;
}
#about .card-body-top .card-title-name{
  font-family: 'Rowdies', cursive;
}
#about .card-body-detail .col-form-label{
  font-weight: bold;
  font-size: 1rem;
  opacity: 0.8;
}
#about .form-group{
  margin-bottom: 0px;
  font-size: 900;
}
#about .form-group span{
  padding: 5px 5px 2px;
  margin-bottom: 1px;
  border-radius: 10%;
  background-color: #21bf73;
  color: white;
}
@media (max-width:550px){
  #about .col-form-label{
    padding-bottom: 0px !important;
    padding-top: 0px !important;
  }
  #about .form-group{
    font-size: 1.2rem;;
  }
}
/* About Card end */


/* Card footer start */
.card-footer{
  background-color: #21bf73;
  padding: 10px 100px !important;
}
.social-media{
   padding: 10px 0px ;
  font-size: 20px;
}
.social-media a:hover{
color: #a8df65;
}
@media (min-width: 200px){
    .card-footer{
        margin-top: 50px;
    }
    #about{
        margin:-200px 10px ;
    }
}
@media (max-width:500px){
  .card-footer{
    padding: 10px 40px !important;
  }
}
/* Card footer end */




/* resume section */
  #resume{
    margin-top: 200px;
  }

  #resume .btn{
    color: black;
    font-weight: bold;
    opacity: 0.7;
  }