*{
    margin: 0px;
    padding: 0px;
}
body {
  background-color: #888888 ;
}

#Header {
  background-image: url("../Images/background2.jpg");
  background-repeat: no-repeat;
  min-height: 60vh;
  background-size: 100% 60vh;
}

#Header .nav-link {
  color: #f4f6ff;
}
#Header a:hover {
  color: #a8df65;
  text-decoration: underline;
  text-decoration-color: teal;
}
.mt-n10 {
    margin-top: -200px !important;
  }

.card-footer{
    padding: 10px 150px !important;
}


 .social-media{
     padding: 10px 0 ;
    font-size: 20px;
}

  @media (min-width: 200px){
      .card-footer{
          margin-top: 50px;
      }
      #about{
          margin:-200px 10px ;
      }
  }


  #resume{
    margin-top: 200px;
  }